@{
    ViewData["Title"] = "About";

}

<div class="text-center mt-5 ">
    <h1 class="display-4">About</h1>
    <div>
        This app was crated by Dav for u who want to manage your library.
        <br />
        For more infomation click on <a href="https://github.com/Dav-MM/LibraryManager" target="_blank"><strong>Here</strong></a>!
    </div>
    
</div>
